
<div class="container">
    <br>
      {{!-- <div class="jumbotron"> --}}
      <div id = "header">
        <h1>Burger Reviews</h1>
      </div>
      {{!-- </div> --}}
    
      <div class="row justify-content-around">
        <div class="col-lg-8">
            {{#each burgers}}
            {{#if devoured}}
                <div class="card" style="width: 10rem; float:left; margin:1%">
                    <div class="card-body">
                        <h5 class="card-title">{{burger_name}}</h5>
                        <p class="card-text">{{review}}</p>
                    </div>
                </div>
            {{/if}}
            {{/each}}
        </div>
      </div>
 </div>